
.navigation-bar{
    -fx-background-color: #0d3fb9;
    -fx-pref-width: 240;
    -fx-pref-height: 600;
    -fx-min-width: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-max-width: -fx-pref-width;
}

.navigation-bar-container{
    -fx-padding: 0 10 0 10;
}

.navigation-bar-logo{
    -fx-image: url(../images/nav-bar-logo.png);
}

.navigation-bar-toggle, .navigation-bar-button{
    -fx-font-family: "Roboto";
    -fx-font-size: 16.0;
    -fx-text-fill: #a7d0ff;
}

.navigation-bar-toggle{
    -fx-padding: 6 6 6 6;
    -jfx-toggle-color: #0d3fb9;
    -jfx-untoggle-color: #0d3fb9;
    -fx-cursor: hand;
}

.navigation-bar-button .jfx-rippler, .navigation-bar-toggle .jfx-rippler{
    -jfx-rippler-fill: #0d3fb9;
}

.navigation-bar-toggle:selected{
    -fx-text-fill: white;
}

.icon-unfocused{
    -fx-icon-color: #96c3ff;
}

.icon-focused{
    -fx-icon-color: #8eb9f3;
}

.hand-cursor{
    -fx-cursor: hand;
}

.page-header-area{
    -fx-pref-height: 60;
    -fx-min-height: -fx-pref-height;
    -fx-background-color: white;
}

.page-header-text{
    -fx-font-family: "Roboto Light";
    -fx-font-size: 20.0;
    -fx-fill: #c4c9ce;
}

/*    
Tabbed pane structure:
-------------------------
- tab-header-area — StackPane
    - headers-region - StackPane
    - tab-header-background - StackPane
    - control-buttons-tab - StackPane
        - tab-down-button - Pane
            - arrow - StackPane
    - tab - Tab
        - tab-label - Label
        - tab-close-button - StackPane
- tab-content-area — StackPane
*/

.mf-tab-pane {
    -fx-tab-min-width:160px; 
    -fx-tab-max-width:160px;
    -fx-tab-min-height:45px;
    -fx-tab-max-height:45px;
}

.mf-tab-pane .headers-region{
    -fx-background-color: white;
}

/*Issue #636: remove the shadow of JFXTabPane*/
.jfx-tab-pane .depth-container{
    -fx-effect: none;
}

.mf-tab-pane .headers-region .jfx-rippler{
    -jfx-rippler-fill: #eaeffa;
}

.mf-tab-pane .tab-header-background{
    -fx-background-color: white;
}

.mf-tab-pane .tab-selected-line{
    -fx-pref-width: 1px !important;
    -fx-pref-height: 2px;
    -fx-background-color: #174bc9;
}

.mf-tab-pane .tab .tab-label{
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 14.0;
    -fx-text-fill: #868686;
}

.mf-tab-content-area{
    -fx-background-color: white; 
    -fx-border-color: #e1e3e7; 
    -fx-border-width: 1 0 0 0;
}

.mf-textfield .input-line{
    -fx-background-color: TRANSPARENT;
}

.mf-textfield .input-focused-line{
    -fx-background-color: TRANSPARENT;
}
