.titled-pane, 
.title-box {
    -fx-font-family: "Roboto";
    -fx-background-color: white;
}

.title-box {
    -fx-border-width: 0.5px;
}

.titled-pane {
    -fx-border-color: transparent transparent #e1e3e7 transparent;
}

.titled-pane > .title {
    -fx-pref-height: 48;
    -fx-cursor: null;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0;
    -fx-background-color: white;
    -fx-cursor: hand;
    -fx-font-size: 14px;
}

.titled-pane > .title > .arrow-button {
    -fx-padding: 0;
}

.titled-pane > .title > .arrow-button > .arrow {
    -fx-background-color: null;
    -fx-padding: 0;
}

.title-label:hover {
    -fx-font-weight: bold;
}
