
.root {
    -fx-font-family: 'Roboto';
    -fx-background-color: white;
}

.help-grid-pane {
    -fx-pref-width: 612px;
    -fx-pref-height: 406px;
    -fx-min-width: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-max-width: -fx-pref-width;
    -fx-max-height: -fx-pref-height;
    -fx-background-color: white; 
    -fx-border-color: #e0e2e7;
}

.help-box:hover {
    -fx-background-color: #f9f9f9;
}

.north-west-box {
    -fx-border-color: transparent #e0e2e7 #e0e2e7 transparent;
}

.south-east-box {
    -fx-border-color: #e0e2e7 transparent transparent #e0e2e7;
}

.icon-area {
    -fx-pref-width: 306px;
    -fx-pref-height: 115px;
}

.ikonli-font-icon {
    -fx-icon-size: 44px;
    -fx-icon-color: #174bc9;
}

.sub-title-area {
    -fx-pref-width: 306px;
    -fx-pref-height: 25px;
}

.sub-title {
    -fx-font-size: 15px;
}

.hyperlink {
    -fx-font-size: 13px;
    -fx-text-fill: #174BC9;
    -fx-pref-width: 306px;
    -fx-pref-height: 63px;
    -fx-alignment: center;
    -fx-focus-traversable: false;
}


