
.navigation-bar {
    -fx-background-color: #0d3fb9;
}

.navigation-bar-content {
    -fx-pref-width: 242px;
    -fx-max-width: -fx-pref-width;
    -fx-min-width: -fx-pref-width;
    -fx-pref-height: 725px;
    -fx-min-height: -fx-pref-height;
}
