
.profile-pane, 
.title-box {
    -fx-font-family: 'Roboto';
    -fx-background-color: white;
}

.grid-pane {
    -fx-font-family: 'Roboto';
    -fx-background-color: #fafafa;
}

.title-box {
    -fx-border-width: 0.5px;
}

.profile-pane {
    -fx-border-color: transparent transparent #e1e3e7 transparent;
}

.profile-pane > .title {
    -fx-pref-height: 48;
    -fx-cursor: null;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0;
    -fx-background-color: white;
    -fx-cursor: hand;
    -fx-font-size: 14px;
}

.profile-pane > .title > .arrow-button {
    -fx-padding: 0;
}

.profile-pane > .title > .arrow-button > .arrow {
    -fx-background-color: null;
    -fx-padding: 0;
}

.profile-pane > *.content {
    -fx-font-size: 14px;
    -fx-border-color: null;
    -fx-border-insets: 0;
    -fx-background-color: white;
}

.jfx-toggle-node {
    -jfx-toggle-color: white;
    -jfx-untoggle-color: white;
}

.jfx-toggle-node:selected {
    -fx-rotate: 90;
}

.jfx-toggle-node .jfx-rippler {
    -jfx-rippler-fill: white;
}

.jfx-text-area {
    /*-fx-font-weight: normal;*/
    -fx-prompt-text-fill: #7b7b7b;
    -fx-border-color: #949494;
    -fx-border-width: 1 1 1 1;
    -fx-pref-width: 475px;
    -fx-pref-height: 80px;
    -fx-padding: 0 0 0 1;
}

.jfx-text-area > .input-line {
    -fx-pref-height: 0px;
    -fx-max-height: 0px;
}

.jfx-text-area > .input-focused-line {
    -fx-pref-height: 0px;
    -fx-max-height: 0px;
}

.edit-label {
    -fx-font-weight: bold;
}

.title-label:hover {
    -fx-font-weight: bold;
}

.edit-button {
    -fx-font-size: 12px;
}

.menu-icon {
    -fx-icon-color: #c0c0c0;
}

.menu-icon:hover {
    -fx-icon-color: black;
}

.menu-button .jfx-rippler {
    -jfx-rippler-fill: #dadada;
}

.jfx-list-cell-container {
    -fx-alignment: center-left;
}

.jfx-list-cell-container > .label {
    -fx-text-fill: BLACK;
}

.jfx-list-cell:odd:selected .jfx-rippler > StackPane, 
.jfx-list-cell:even:selected .jfx-rippler > StackPane {
    -fx-background-color: #f5f5f5;
}

.jfx-list-cell {
    -fx-background-insets: 0.0;
    -fx-text-fill: BLACK;
}

.jfx-list-cell:selected .label {
    -fx-text-fill: black;
}

.jfx-list-cell:odd, 
.jfx-list-cell:even {
    -fx-background-color: WHITE;
}

.jfx-list-cell:filled:hover {
    -fx-text-fill: black;
}

.jfx-list-cell .jfx-rippler {
    -jfx-rippler-fill: #dcdcdc;
}

.jfx-list-view {
    -fx-font-family: 'Roboto';
    -fx-font-size: 14px;
    -fx-background-insets: 0;
    -jfx-cell-horizontal-margin: 0.0;
    -jfx-cell-vertical-margin: 5.0;
    -jfx-vertical-gap: 10;
    -jfx-expanded: false;
    /*-fx-pref-width: 100;*/
}

