.root {
    -fx-background-color: white;
}
/*A titledpane without the 'title' part
only the collapsible pane remains*/
.action-pane {
    /*-fx-border-color: red;*/
}

.action-pane > .title {
    -fx-pref-height: 0;
    -fx-cursor: hand;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0;
}

.action-pane > .title > .arrow-button {
    -fx-padding: 0;
}

.action-pane > .title > .arrow-button > .arrow {
    -fx-background-color: null;
    -fx-padding: 0;
}

.action-pane > *.content {
    -fx-border-color: null;
    -fx-border-insets: 0;
    -fx-background-color: white;
}

.jfx-text-field {
    -fx-font-family: "Roboto";
    -fx-font-size: 14px;
    -fx-prompt-text-fill: #7b7b7b;
    -fx-border-color: #949494;
    -fx-border-width: 1 1 1 1;
    -fx-pref-width: 208px;
    -fx-pref-height: 27px;
    -fx-padding: 0 0 0 1;
}

.jfx-text-field > .input-line {
    -fx-pref-height: 0px;
    -fx-max-height: 0px;
}

.jfx-text-field > .input-focused-line {
    -fx-pref-height: 0px;
    -fx-max-height: 0px;
}

.action-toggle {
    -fx-background-radius: 24px;
    -fx-pref-height: 42px;
    -fx-pref-width: 42px;
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
    -fx-cursor: hand;
}

.action-toggle .jfx-rippler {
    -jfx-rippler-fill: #dadada;
}

.action-icon {
    -fx-icon-size: 24px;
    -fx-icon-color: #1547bf;
}

.action-icon:disabled {
    -fx-icon-color: #e0e2e7;
}

.sort-icon {
    -fx-rotate: -90;
}

.sort-icon:disabled {
    -fx-rotate: 180;
}

.jfx-check-box, .action-button {
    -fx-font-family: "Roboto";
    -fx-font-size: 14px;
    -fx-text-fill: #174bc9;
    -jfx-checked-color: #174bc9;
}

.action-button:disabled {
    -fx-text-fill: #8ba5e4;
}

.jfx-check-box .jfx-rippler {
    -jfx-rippler-fill: #8ca6e4;
}

.columns-box {
    -fx-font-size: 12px;
    -fx-border-color: transparent transparent #e1e3e7 transparent;
}

.columns-box > .jfx-button .jfx-rippler {
    -jfx-rippler-fill: white;
}

.scroll-pane .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
    -fx-border-radius: 2em;
}

.scroll-pane .scroll-bar:vertical .increment-button,
.scroll-pane .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 10 0 0;
}

.scroll-pane .scroll-bar .increment-arrow,
.scroll-pane .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}

.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #e5e5e5;
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}


/*.table-view {
    -fx-font-family: "Roboto";
    For testing purposes
    -fx-border-color: blueviolet;
}

.table-view, .table-view:focused {
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.table-view .column-header,
.table-view .filler,
.table-view > .column-header-background > .show-hide-columns-button,
.table-view:constrained-resize .filler {
    -fx-background-color: white;
    -fx-background-insets: 0 0 0 0;
    -fx-font-weight: normal;
    -fx-size: 24px;
    -fx-text-fill: red;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: white white gainsboro white;
}

.table-view .column-header .label {
    -fx-alignment: center-left;
    -fx-padding: 0 0 8 0;
}

.table-view .arrow {
    -fx-background-color: white;
    -fx-padding: 0.25em 0.3125em 0.25em 0.3125em;  3 3.75 3 3.75 
    -fx-padding: 3 3 3 3;  3 3.75 3 3.75 
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

.table-row-cell:odd {
    -fx-background: -fx-control-inner-background;
}

.table-row-cell:filled {
    -fx-padding: 0.166667em;  2px, plus border adds 1px 
    -fx-border-color: white white gainsboro white;
}

.table-cell,
.table-row-cell,
.table-row-cell:filled:selected,
.table-row-cell:filled > .table-cell:selected {
    -fx-background: white;
    -fx-table-cell-border-color: white;
    -fx-cell-size: 3.3em;
}*/

/*.profile-name-label {

}

.profile-name-label:hover {
    -fx-font-weight: bold;
}*/

/*.profile-row-toggle {
    -fx-padding: 0 6 0 0;
}*/

