/*
Copyright 2019.
*/
/* 
    Created on : Sep 17, 2019, 1:36:40 PM
    Author     : Hiram K <hiram.kamau@outlook.com>
*/

@font-face {
/*    font-family: 'Roboto';
    font-weight: bold;*/
    src: url("../fonts/roboto/Roboto-Bold.ttf");
}
