/*
Copyright 2019.
*/
/* 
    Created on : Sep 17, 2019, 1:36:13 PM
    Author     : Hiram K <hiram.kamau@outlook.com>
*/

@font-face {
/*    font-family: "Roboto";
    font-style: italic;*/
    src: url(../fonts/roboto/Roboto-Italic.ttf)
}